<div>
  <div *ngIf = "listaPlanetas">

    Total: {{listaPlanetas.count}}     <br>
    Next: {{listaPlanetas.next}} <br>
    Previous: {{listaPlanetas.previous}} <br>

    Personagens:
    <div *ngFor="let planeta of listaPlanetas.results">
      
      <a type="button" class="btn btn-info" [routerLink]= "['../detalhes/planeta/', planeta.url]">{{ planeta.name }}</a>
      
      <br> <br>
    </div>
    <button *ngIf="listaPlanetas.previous" type="button" class="btn btn-second" (click)="voltar()">Voltar</button>
    <button *ngIf="listaPlanetas.next" type="button" class="btn btn-primary" (click)="proximo()">Próximo</button>
  </div>

  <div *ngIf = "!listaPlanetas">
    Carregando...
  </div>

</div>