<div>
  <div *ngIf = "lista">

    Total: {{lista.count}}     <br>
    Next: {{lista.next}} <br>
    Previous: {{lista.previous}} <br>

    Personagens:
    <div *ngFor="let personagem of lista.results; let i = index; let x = a">
      
      <a type="button" class="btn btn-info" [routerLink]= "['../detalhes/people/', i+1+a*10 ]">{{ personagem.name }}</a>
      <!-- <button type="button" class="btn btn-info">{{personagem.name}}</button> -->
      <br> <br>
    </div>
    <button *ngIf="lista.previous" type="button" class="btn btn-second" (click)="voltar()">Voltar</button>
    <button *ngIf="lista.next" type="button" class="btn btn-primary" (click)="proximo()">Próximo</button>
  </div>

  <div *ngIf = "!lista">
    Carregando...
  </div>

</div>




