
<div *ngIf = "lista">

  Total: {{lista.count}}     <br>
  Next: {{lista.next}} <br>
  Previous: {{lista.previous}} <br>

  Personagens:
  <div *ngFor="let personagem of lista.results">
    <br>
    <button>{{personagem.name}}</button>
  </div>
</div>

<div *ngIf = "!lista">
  Carregando...
</div>

<!-- <div *ngIF = "personagens">
  <div *ngFor = "let personagem of personagens">
    <h4>{{personagem.name}}</h4>
    <br>
  </div>
</div>

<div *ngIF = "!personagens">
  Carregando...
</div> -->



<!-- <div *ngIf="personagem">
    <h4>{{personagem.name}}</h4>


</div>

<div *ngIf="!personagem">
  <h4>Carregando...</h4>

</div> -->

